node_modules
dist
phat-linux-x64
phat-win32-x64
*.*~
npm-debug.log
src/FastQC/bin/*
src/pileup.js
src/req/renderer/PathogenRenderer/pileup.js
pileup.css
pileup.js
sassc
sassc.exe
forDist/styles/jquery.minicolors.css
forDist/styles/jquery.minicolors.png
forDist/styles/spinner.css
forDist/*.dll
forDist/*.jar
forDist/FastQC/**
forDist/linux/samtools
forDist/win32/*.exe
forDist/bootstrap.min.css
src/installUpdateProcess/*.dll
\.idea/
src/**/*.js
src/*.js
scripts/diffAndBuildPatch.js
scripts/downloadFullUpdateFromSecondLastTag.js
scripts/getReleaseTypeFromPackage.js