@import "common/colors";
@import "common/table";
@import "common/td";
@import "common/th";
@import "common/tableCell";
div.Block
{
    border : 1px solid $border-color;
    background-color : $bg-color;
}
table, th, td 
{
    border : 1px solid $border-color;
	background-color : $bg-color;
    border-collapse : collapse;
}
