@import "common/colors";
@import "common/table";
@import "common/td";
@import "common/th";
@import "common/tableCell";
@import "common/activeHover";
@import "common/outerCenteredDiv";
@import "common/innerCenteredDiv";
.inputFilterBox
{
    @extend .tableCell;
	margin-top: 50px;
	margin-left: -300px;
	width :50%;
}
.topButton
{
  float : left;
  margin: 18px 18px 18px 18px;

}
.masterView
{
	display: flex;
}
.masterView > div
{
	flex: 1;
}