@import "common/colors";
@import "common/table";
@import "common/td";
@import "common/th";
@import "common/tableCell";
.inputFilterBox
{
    @extend .tableCell;
	margin-top: 50px;
	margin-left: -300px;
	width :50%;
}
.viewTab
{
  float : left;
	margin: 18px 18px 18px 18px;

}
