div.rightSlideOutPanel
{
    margin-right: -50%;
	margin-top : +25%; 
	border : 1px solid black;
    border-collapse : collapse;
	background-color : rgba(163, 200, 255, 1);
	width : 45%;
	height : 215px;
    right : 0px;
	position : fixed;
}
button.optionsButton
{
    float : right;
}
