@import "common/buttonshadow";
@import "common/colors";
@import "common/outerCenteredDiv";
@import "common/innerCenteredDiv";

.window-color{
  background-color: $windowbg-color;
}
#title{
  text-align: left;
}

.activeHover:hover{
    font-weight: bold;
}