@import "common/colors";
@import "common/outerCenteredDiv";
@import "common/innerCenteredDiv";
@import "common/activeHover";

.window-color{
  background-color: $windowbg-color;
}
#title{
  text-align: left;
}

.projectCell{
  border: black;
  border-style: solid;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
